*.ipr
*.iml
*.iws
.idea/
.bash_history
.bash_logout
.bash_profile
.bashrc
.emacs
.lesshst
.ssh/
.viminfo
.vimrc
.project
bootstrap.properties
bootstrap.sh
bootstrap.config
bootstrap2.sh
maven-repo/
secret/
target/
/components/
build/
.gradle/
classes/
out/