.service_dashboard {
    font-size: 20px;
    padding: 0;
    padding-left: 17px;
    padding-bottom: 11px;
    padding-top: 10px;
    margin: 0;
}

.main_name {
    font-weight: bold;
    text-transform: uppercase;
}

.main_memory {
    padding-left: 10px;
    color: #4dca74;
}

.hosts {
    width: 300%;
}

.host_group {
    float: left;
    border-right: 1px double #f7f7f7;
}

.host_group_header {
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.1)
}

.group_name {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 7px;
    color: #4e96f3;
    cursor: pointer;
}

.group_name a {
    color: #4e96f3;
}

.group_container {
    border-right: 1px double #fbfbfb;
    float: left;
    padding: 10px;
}

.service_container {
    margin: 5px;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mb_usage {
    color: #4e96f3;
}