<!DOCTYPE html>
<html>
<head>
    <title>Environment dashboard</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="common/style.css"/>
    <script src="common/jquery-3.3.1.min.js"></script>
    <script src="common/functions.js"></script>

    <link rel="stylesheet" href="app/dashboard/style.css"/>
    <script src="app/dashboard/app.js"></script>
</head>

<body>

<header class="service_dashboard">
    <span id="main_name" class="main_name"></span>
    <span>dashboard</span>
    <span id="main_memory" class="main_memory"></span>

    <img src="common/loading_icon.gif" id="loading_icon" alt="loading"/>

    <span class="right_link" id="force_refresh">Refresh</span>
</header>

<ul id="hosts" class="hosts">
</ul>

<script>
    $(document).ready(DASHBOARD.init);


</script>
</body>
</html>