<!DOCTYPE html>
<html>
<head>
    <title>Releases</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="common/style.css"/>
    <script src="common/jquery-3.3.1.min.js"></script>
    <script src="common/functions.js"></script>


    <link rel="stylesheet" href="app/group/style.css"/>
    <script src="app/group/app.js"></script>
</head>

<body>

<header class="service_dashboard">
    <span id="main_name" class="main_name"></span>
    <span>releases</span>


    <img src="common/loading_icon.gif" id="loading_icon" alt="loading"/>

    <a href="/" class="right_link">Back</a>
</header>

<article>
    <ul id="current_releases" class="current_releases"></ul>

    <div class="arrow">→</div>

    <ul id="new_releases" class="current_releases"></ul>

    <div class="arrow">→</div>

    <button id="approve" class="action_step">
        Approve
    </button>

    <div class="arrow">→</div>

    <button id="deploy" class="action_step">
        Deploy
    </button>

    <div class="arrow">|</div>

    <button id="healthcheck" class="action_step">
        Health check
    </button>
    <button id="status" class="action_step">
        Status
    </button>
</article>

<iframe src="/logs" id="logs_frame" class="logs_wrapper"></iframe>

<button id="toggle_logs" class="toggle_logs">
    Show logs
</button>

<script>
    $(document).ready(GROUP.init);


</script>

</body>
</html>