<!DOCTYPE html>
<html>
<head>
    <title>Logs</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="common/jquery-3.3.1.min.js"></script>
    <script src="common/ansi_up.js"></script>

    <link rel="stylesheet" href="app/logs/style.css"/>
    <script src="app/logs/app.js"></script>
</head>

<div id="log_textarea" class="log_textarea" contenteditable="false"></div>

</body>
</html>